<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="orange-text text-lighten-4 logo-text">Taste It</h5>
                <p class="orange-text text-lighten-5">Украина</p>
                <p class="orange-text text-lighten-5">г.Запорожье</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">E-mail:</h5>
                <ul>
                    <li><a class="lime-text text-accent-2 email"
                            href="mailto:toptasteit@gmail.com">toptasteit@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright
            <a class="orange-text text-lighten-5 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>