{{> head }}

<body>
    <script>
        { { !--Uptolike --} }
        (function (w, doc) {
            if (!w.__utlWdgt) {
                w.__utlWdgt = true;
                var d = doc;
                var s = d.createElement('script');
                var g = 'getElementsByTagName';

                s.type = 'text/javascript';
                s.charset = 'UTF-8';
                s.async = true;
                s.src = ('https:' == w.location.protocol ? 'https' : 'http') + '://w.uptolike.com/widgets/v1/uptolike.js';
                var h = d[g]('body')[0];
                h.appendChild(s);
            }
        })(window, document);

        { { !--End script Uptolike-- } }
    </script>
    {{{ body }}}
    {{> footer }}
</body>

</html>