<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v6.0&appId=228002318203066&autoLogAppEvents=1">
    </script>

<div class="container">
    <h1 id="logotip" class="center">Taste It!</h1>
    <div class="section center">
        <h4>Добро пожаловать! </h4>
        <p>На <span class="logo-text">Taste It </span> Вы найдете широкий ассортимент тортов на любой
            случай:</p>
        <h6>День Рождения, детский праздник, юбилей или свадьба.</h6>
        <p>На ваш выбор более 1000 различных тортов, но если у Вас есть свое видение Вашего торта, Вы
            можете прислать нам свой индивидуальный эскиз или фото понравившегося Вам торта, и мы воплотим Ваши
            желания в жизнь!</p>
        <h5>Домашние торты или торты на заказ.</h5>
        <p>Готовятся специально для вас с любовью и теплом. При их приготовлении используются только натуральные
            ингредиенты в оригинальном дизайне по вашему вкусу. Такие торты радуют
            как своей красотой так и вкусовыми качествами.</p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="../images/Cake/parallax_07.jpg" alt="background img"></div>
</div>
<br>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <h3 class="center">Преимущества работы с нами</h3>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">thumb_up</i>
                    </h2>
                    <h5 class="center">Только качественные продукты</h5>

                    <p class="light">Мы не используем готовых смесей и консервантов</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">schedule</i>
                    </h2>
                    <h5 class="center">Гарантия сроков изготовления</h5>

                    <p class="light">Любые, даже самые амбициозные проекты мы выполним точно к оговоренному сроку</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">beenhere</i>
                    </h2>
                    <h5 class="center">Гарантия качества</h5>

                    <p class="light">Вернем деньги если десерт не понравится</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4 offset-m2">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">airport_shuttle</i>
                    </h2>
                    <h5 class="center">Внимательная служба доставки</h5>

                    <p class="light">Доставим в любой уголок Вашего города точно ко времени и обязательно улыбнемся Вам
                        при сдаче заказа</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">timer</i>
                    </h2>
                    <h5 class="center">Срочные заказы</h5>

                    <p class="light">Вспомнили про торт в последний момент – мы поможем!</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="../images/Cake/parallax_04.jpg" alt="background img"></div>
</div>
<br>

<div class="container">
    <div class="section">
        <div class="center">
            <h5>Виды тортов</h5>
            <p>Торт - традиционное праздничное блюдо на днях рождения, свадьбах, корпоративах и других праздниках. Этот
                десерт нравится не только детям, но и взрослым. Сейчас большое многообразие разнообразных тортов и чтобы
                не потеряться в этом изобилии, - нужно хоть немного разбираться в их разновидностях.</p>
            <p>Торты можно классифицировать по различным критериям, таким как способ приготовления, тип коржей,
                сложность конструкции, тип начинки, форма.</p>
        </div>
        <h6>Классификация тортов по способу приготовления:</h6>
    </div>

    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h5 class="center">Торты, выпекаемые целиком.</h5>
                    <p class="light">Этот вид торта берет свое начало из самых давних времен. Эти торты изготавливаются
                        из дрожжевого теста и представляют собой пироги с начинкой. Как правило они начиняются орехами,
                        медом, фруктами, вареньем. Сверху торт этого вида может быть украшен глазурью и кремом.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h5 class="center">Торты, при приготовлении которых начинка и каркас готовятся отдельно.</h5>
                    <p class="light">Эти торты начали выпекать в Италии. Сначала готовится каркас - стенки и дно торта,
                        а затем - начинка. Далее вкусная начинка заливается в остывший каркас и торт, если нужно
                        разогревается, чтобы приобрести целостность.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h5 class="center">Сборные торты.</h5>
                    <p class="light">Это наиболее распространенные вид торта, который готовится и формируется слоями.
                        Отдельно готовятся коржи, начинка, крем, украшающие элементы. Затем торт составляется
                        последовательно слоями снизу вверх - коржи промазываются, укладывается начинка, наносятся
                        декоративные элементы.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="../images/Cake/parallax_05.jpg" alt="background img"></div>
</div>

<div class="container">
    <br>
    <h6>Виды тортов по типу коржей:</h6>
    <div class="section">
        <div class="row">
            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Бисквитные торты.</h5>
                    <p class="light"> Торты из бисквитного теста получаются пышными и нежными. Для достижения нужного
                        вкуса в бисквитные коржи добавляют ваниль, какао, орешки и прочие ингредиенты. Коржи
                        пропитываются и накладываются друг на друга, между коржами укладывается кремовая, йогуртовая или
                        шоколадная начинка. Это самая вкусная и распространенная разновидность тортов.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Вафельные торты.</h5>
                    <p class="light">Наиболее постой в приготовлении вид торта, состоящий из уложенных друг на друга
                        вафельных коржей, смазанных кофейной или шоколадной массой. Такие торты выигрывают по простоте
                        приготовления времени хранения, но проигрывают по вкусу.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Песочные торты.</h5>
                    <p class="light">Готовятся из рассыпчатого песочного теста. Эти торты самые дешевые в приготовлении.
                        Начинка у таких тортов бывает фруктовая или кремовая.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Творожные торты.</h5>
                    <p class="light">Этот вид тортов готовится полностью из творожно-мучной массы. Как правило творожный
                        торт содержит кусочки фруктов, которые хорошо сочетаются с творогом.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="../images/Cake/parallax_06.jpg" alt="background img"></div>
</div>

<div class="container">
    <br>
    <h6>По типу оформляющего материала::</h6>
    <div class="section">
        <div class="row">
            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Торты с кулинарной мастикой.</h5>
                    <p class="light"> Кулинарная мастика изготавливается из сахарной пудры. Мастика делает торты более
                        гладким и благодаря своей пластичности позволяет делать сложные декоративные элементы. Мастика
                        входит в состав почти всех самых оригинальных тортов.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Торты с кремом.</h5>
                    <p class="light">Из крема, как правило, делают узоры и декоративные цветы на торте. Что не только
                        очень красиво смотрится, но и приятно на вкус.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Торты с глазурью.</h5>
                    <p class="light">Глазурь, как и кулинарная мастика, позволяет сделать торт гладким и красивым. Кроме
                        этого шоколадная глазурь очень вкусная.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Торты с помадкой.</h5>
                    <p class="light">Помадку используют для наружного покрытия тортов. Она проста в приготовлении и
                        длительное время сохраняет свои свойства.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#01"><img src="../images/Cake/cake-01.jpg"></a>
        <a class="carousel-item" href="#02"><img src="../images/Cake/cake-02.jpg"></a>
        <a class="carousel-item" href="#03"><img src="../images/Cake/cake-03.jpg"></a>
        <a class="carousel-item" href="#04"><img src="../images/Cake/cake-04.jpg"></a>
        <a class="carousel-item" href="#05"><img src="../images/Cake/cake-05.jpg"></a>
        <a class="carousel-item" href="#06"><img src="../images/Cake/cake-06.jpg"></a>
        <a class="carousel-item" href="#07"><img src="../images/Cake/cake-07.jpg"></a>
        <a class="carousel-item" href="#08"><img src="../images/Cake/cake-08.jpg"></a>
        <a class="carousel-item" href="#09"><img src="../images/Cake/cake-09.jpg"></a>
        <a class="carousel-item" href="#10"><img src="../images/Cake/cake-10.jpg"></a>
        <a class="carousel-item" href="#11"><img src="../images/Cake/cake-11.jpg"></a>
    </div>
</div>

<div class="section">
    <div class="container">
        <h6 class="center">Больше различных исполнений Вы можете посмотреть в нашем <a href="/products">КАТАЛОГЕ</a>
        </h6>
        <h5 class="center">Торт на заказ невозможно повторить, это ювелирная работа, которая требует
            высокого профессионализма.</h5>

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="light">Мы не используем ароматизаторов и вредных добавок, фигурки для украшений и
                        декоративные элементы изготавливаются из сахарной пасты с применением пищевых красителей
                        высочайшего качества.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="light">Точный срок и стоимость торта на заказ рассчитываются после того, как был выбран и
                        согласован дизайн кондитерского изделия и перечень ингредиентов.</p>
                    <p class="light">Размер и вес торта на заказ зависят только от количества гостей и вашей фантазии
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="light">Мы предлагаем тематические торты для детских праздников, корпоративных мероприятий,
                        свадеб и банкетов.
                        Фото-примеры представлены на сайте в нашем <a href="/products">КАТАЛОГЕ</a> , возможна работа по
                        эскизу
                        клиента.</p>
                </div>
            </div>

            <div class="col s12 m4 offset-m2">
                <div class="icon-block">
                    <p class="light">Для вашего удобства подготовлена <a href="/formOrder">Форма для онлайн-заказа</a>.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <p class="light">Все пожелания можно указать в примечании, нюансы
                        оговариваются по телефону.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section">
    <div class="container">

        <hr>
        <br>
        <h5 class="center">Добавить отзыв или комментарий:</h5>
        <div class="fb-comments" data-href="https://toptasteit.herokuapp.com" data-width="" data-numposts="5"
            data-mobile="true" data-order-by="reverse_time"></div>
        <br>
        <hr>
        <h2 id="logotip" class="center">Taste It!</h2>
    </div>
</div>