<div class="center-align">
    <h5>Чтобы заказать торт или пирожные необходимо знать:</h5>
    <ul>
        <li>
            <h6>Cроки (торт нужно заказать за одну-две недели до праздника);</h6>
        </li>
        <li>
            <h6>Количество гостей(порций) или нужный вес кондитерского изделия;</h6>
        </li>
        <li>
            <h6>Как украсить Ваш торт и нужно ли это делать.</h6>
        </li>
    </ul>
</div>
<h3>Оплата:</h3>
<p>Для того что бы мы начали работу над Вашим тортом, необходимо внести небольшую «предоплату» (от 100 гривен).</p>
<h3>Доставка:</h3>
<p>Готовый торт можно забрать либо самостоятельно, либо воспользоваться услугами курьерской доставки (работа курьера
    оплачивается дополнительно).</p>
<h5 class="center-align">Все подробности обговариваются по телефону</h5>

<h5 class="center-align"><a href="/products">Перейти в Каталог <i class="material-icons">send</i></a></h5>
<h5 class="center-align"><a href="/formOrder">Перейти в форму для заказа <i class="material-icons">send</i></a></h5>