<div class="center-align">
    <h5>Чтобы заказать торт или пирожные необходимо знать:</h5>
    <ul class="collection">
        <li class="collection-item">Cроки (торт нужно заказать за одну-две недели до праздника);</li>
        <li class="collection-item">Количество гостей(порций) или нужный вес кондитерского изделия;</li>
        <li class="collection-item">Как украсить Ваш торт и нужно ли это делать.</li>
    </ul>
</div>
<h3>Оплата:</h3>
<p>Для того что бы мы начали работу над Вашим тортом, необходимо внести небольшую «предоплату» (от 100 гривен).</p>
<h3>Доставка:</h3>
<p>Готовый торт можно забрать либо самостоятельно, либо воспользоваться услугами курьерской доставки (работа курьера
    оплачивается дополнительно).</p>
<h5 class="center-align">Все подробности обговариваются по телефону</h5>

<ul class="collection">
    <li class="collection-item">
        <div>Перейти в Каталог<a href="/products" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Перейти в форму для заказа<a href="/formOrder" class="secondary-content"><i
                    class="material-icons">send</i></a>
        </div>
    </li>
</ul>