body {
  background-color: #fdecd3;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif Caption", serif;
  color: #74452e;
}

#logotip {
  color: #74452e;
  font-size: 5em;
  text-shadow: 0px 0px 0 #74452e, 1px 1px 0 #865035, 2px 2px 0 #94583b,
    3px 3px 0 #a66241, 4px 4px 0 #b16946, 5px 5px 0 #d27c52, 6px 6px 0 #e4885b,
    7px 7px 0 #ed8d5f, 8px 8px 0 #f99565, 9px 9px 0 #fba47a,
    10px 10px 20px rgba(0, 0, 0, 1), 10px 10px 1px rgba(0, 0, 0, 0.5),
    0px 0px 20px rgba(0, 0, 0, 0.2);
}

.main--name {
  margin-top: 15%;
  margin-left: 25%;
  font-size: 6rem;
  font-weight: 900;
}

.p1 {
  font-size: 0.6rem;
}

main {
  flex: 1 0 auto;
}

.content {
  padding: 10px;
}

.txt,
.topic {
  font-size: 1.3rem;
}

nav {
  box-shadow: none;
}

nav,
.nav-content,
.page-footer {
  background-color: #74452e;
  width: 100%;
}

ul.footer-menu li > a {
  color: #ffe0b2;
}

ul.footer-menu li > a:hover {
  color: #f8c16e;
}

.nav-wrapper {
  padding: 0 2rem;
}

.sidenav {
  background-color: #fdf3e4;
}

.sidenav li > a {
  color: #74452e;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #ffdaa2;
  font-size: large;
}

.card .card-title {
  font-size: calc(0.8em + 0.1vw);
}

.card .card-content {
  padding: 10px;
}

.card .flow-text {
  font-size: calc(1rem + 0.1vw);
}

/* .vendor,
.uptolike-rating {
  display: inline-block;
}

.vendor-uptolike {
  float: right;
} */

.price {
  font-size: calc(1em + 0.4vw);
}

.btn {
  font-size: 0.8em;
  min-width: 8em;
  border-radius: 35px;
}

span.brand-logo {
  /* font-family: cursive, fantasy; */
  /* font-family: "Roboto"; */
  font-family: "Alegreya";
}

a.brand-logo img {
  max-height: 55px;
  position: relative;
  top: 0;
  bottom: 0;
  margin: 10px; /*5px auto 5px auto; */
}

.cakeTopp-image img {
  width: 100%;
}

/* .product {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

/* .product .product-img {
  margin: 5px auto;
  padding: 25px;
  object-fit: scale-down;
} */

.product-img img {
  width: 100%;
}

/* .product .content {
  padding: auto 15px;
  flex: 1 1;
} */

.product .price.big {
  font-size: 2.5rem;
}

.card-action .center {
  display: block;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth {
  padding-top: 1rem;
}

.alert {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(252, 68, 68, 0.89);
  color: rgb(28, 105, 41);
}

.avatar {
  max-width: 250px;
  height: auto;
}

.logo-text {
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
}

.content-main {
  font-size: 1.4em;
}

/* ----------------------- */
/* Style for foods-calorie */
/* ----------------------- */
.table_sort table {
  border-collapse: collapse;
}

.table_sort th {
  color: #ffebcd;
  background: #d88211;
  cursor: pointer;

  font-size: calc(0.4vw + 0.6vh);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.table_sort td,
.table_sort th {
  width: 100%;
  /* height: 15px; */
  padding: 5px;
  text-align: center;
  border: 1px solid #846868;
}

.table_sort tbody tr:nth-child(even) {
  background: #f7d3a8;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
  position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
  right: 8px;
  position: absolute;
}

th.sorted[data-order="-1"]::after {
  content: "▼";
}

th.sorted[data-order="1"]::after {
  content: "▲";
}
/* --------------------------- */
/* End Style for foods-calorie */
/* --------------------------- */

/* Payment and Delivery */
.collection .collection-item {
  background-color: #faedda;
}

.collection a.collection-item {
  color: #039be5;
}

/* End Payment and Delivery */

.collection .collection-item.avatar {
  background-color: #c8faf8;
}

/* .collection .collection-item.adding {
  background-color: #eefdee;
} */

.order-details table {
  border-collapse: collapse;
}

.order-details tbody tr:nth-child(even) {
  background: rgb(247, 211, 168);
}

.order-details td {
  width: 50%;
  padding: 5px;
  padding-left: 25px;
  text-align: left;
  border: 1px solid #846868;
}

.order-details-top table {
  border-collapse: collapse;
}

.order-details-top td {
  width: 33%;
  padding: 5px;
  text-align: center;
  border: 1px solid #846868;
}

.order-details-img {
  max-height: 500px;
  width: auto;
  margin-top: 20px;
}
